.card-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}
@media (max-width:780px) {
    .card-main{
        grid-template-columns: 1fr;
    }
}
@media (780px <width <1250px) {
    .card-main{
        grid-template-columns: 1fr 1fr;
    }
}